.signin-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: hsl(0, 0%, 97.5%);

  .signin-card {
    width: 20rem;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px hsl(0, 0%, 70%);
    background-color: white;
    text-align: center;

    .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .email-signin-form {
        display: flex;
        flex-direction: column;
        width: 100%;

        .form-input {
          font-size: medium;
          padding: 1rem;
          border: 1px solid hsl(0, 0, 70%);
          border-radius: 1rem;
        }

        .submit-button {
          padding: 1rem;
          margin-top: 1rem;
          color: white;
          background-color: hsl(208, 86%, 48%);
          border: none;
          border-radius: 1rem;
          font-weight: bold;
          font-size: 1rem;
          cursor: pointer;

          &:hover {
            background-color: hsl(208, 86%, 58%);
          }
        }
      }

      .divider {
        display: flex;
        align-items: center;
        padding: 1.5rem;
        width: 100%;

        .line {
          flex-grow: 1;
          height: 1px;
          background-color: hsl(0, 0%, 70%);
        }

        .or {
          padding: 0 1rem;
          color: hsl(0, 0%, 50%);
        }
      }

      .social-logins {
        display: flex;
        flex-direction: column;
        width: 100%;

        .google {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 1rem;
          font-size: medium;
          font-weight: bold;
          border: 1px solid hsl(0, 0%, 50%);
          border-radius: 1rem;
          background-color: transparent;
          transition: 0.3s ease-in-out;
          cursor: pointer;

          .google-icon {
            margin-right: 1.25rem;
            width: 1.5rem;
            height: 1.5rem;
          }

          &:hover {
            background-color: hsl(0, 0%, 90%);
          }
        }
      }
    }
  }
}
