.signout-button {
  padding: 0.75rem 1.25rem;
  border-radius: 50px;
  font-size: 1rem;
  border: none;
  background-color: hsl(27, 86%, 48%);
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: hsl(27, 66%, 50%);
  }
}
